body {
  background-color: rgb(250, 250, 250);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 50px;
}
.footer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #e2e2e2;
  color: #828282;
}
@media (max-width: 770px) {
  .container {
    margin: 0 7%
  }
  .image {
    width: 100%;
  }
}
